@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate"; 

// font-family: 'Quicksand', sans-serif;
// font-family: 'graduate', cursive; 

$main: white; 
$font: graduate, cursive; 
$font2: quicksand, sans-serif; 
$main_yellow: #F9BF3B; 

* {
  box-sizing: border-box; 

}

body {
  margin: 0;
  padding-top: 550px; 


}

header {
  height: 600px;
  padding-top: 50px;
  background-image: url('/background1.jpg');

}

.main-nav,
.main {
  position: relative; 
}

.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0; 
}

.main {
  background: #f2f2e8;
  padding-top: 100px; 
  margin: 0; 
}

.main-nav {

  background: green; 
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  border-bottom: 10px solid $main_yellow;


  #leftnav {
    float: left;
    font-size: 20px; 
    margin-left: 50px; 
    margin-bottom: 10px; 
    font-family: $font; 

      li {
        list-style: none;
        display: inline-block;

            a {
            display: inline-block;
            padding: 1em .1em;
            color: $main_yellow; 

              &:hover {
                color: white; 
              }
  
            }

      }       

  }

  #rightnav {
    float: right; 
    margin-right: 50px; 
    margin-top: 20px; 
    font-family: $font2; 
    font-size: 20px; 
    font-weight: bold; 
    color: $main_yellow; 
      
        li {
        list-style: none;
        display: inline-block;

          a {
          display: inline-block;
          padding: 1em .1em;
          color: $main_yellow; 

              a:hover {
                color: white; 
                font-size: 20px; 
              }
          }
      }

   #currentuser {
    font-family: $font; 

   }
  }
}

h1 {
  font-family: graduate, cursive; 
  font-weight: bold;  
  vertical-align: middle; 
  color: $main_yellow;  
  font-size: 40px; 
  margin-top: -10px; 

  span {
    color: white; 
    font-size: 50px; 
  }
}

.normalink {
  font-family: $font; 
  font-size: 20px; 
  color: $main_yellow; 

  &:hover {
    text-decoration: underline;
    color: white; 
  }
}

.logo {
  width: 430px; 
  position: relative; 
  margin-left: auto; 
  margin-right: auto; 
  clear: both; 
    z-index: 20; 
}
// player 1
#playa1 {
  position: absolute; 
  left: 0; 
  bottom: 120px; 
  z-index: 300; 
}

.playa1 {
  width: 200px; 
  z-index: 300; 

}
// player 1

// player 2
#playa2 {
  position: absolute; 
  left: 200px;  
  bottom: 80px; 
  z-index: 301; 
}

.playa2 {
  width: 180px; 
}
// player 2

// player 3
#playa3 {
  position: absolute; 
  right: -5px; 
  bottom: 200px; 
  z-index: 4; 
}

.playa3 {
  width: 220px; 

}
// player 3

// player 4
#playa4 {
  position: absolute; 
  right: 130px;  
  bottom: 100px; 
  z-index: 300; 
}

.playa4 {
 width: 230px; 
}
// player 4

// player 5
#playa5 {
  position: absolute; 
  left: -85px; 
  top: -75px; 
  z-index: 4; 
}

.playa5 {
  width: 230px; 
  height: 230px; 

}
// player 5

h2 {
  font-family: $font; 
  color: $main_yellow; 

}

h3 {
  font-family: $font; 
  color: $main_yellow; 
  font-size: 20px; 

  span {
    color: white; 
  }
}

span#logout {
  color: white; 
}

span#ultimate {
  color: white; 
  text-shadow: 1px 1px 1px green; 
}

#about {
  margin-top: -20px; 
  padding-top: 20px; 
  background: url("basketballcourt.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  height: 580px; 

  .aboutcontainer {
    text-align: center; 
    margin-top: auto; 
    margin-bottom: auto; 
    padding-top: auto; 
    padding-bottom: auto; 
    width: 100%;
    height: 500px; 
    background-color: white; 
    border-radius: 30px; 
    border: 5px solid $main_yellow; 

      hr#dashed {
        border: 2px dashed $main_yellow; 
      }
  }
}

h1#aboutshout {
  font-size: 30px;
}

#ultimate {
  width: 150px; 
}

p.aboutext {
    position: center; 
    font-size: 17px; 
    font-family: $font2; 
    font-weight: bold; 
    text-align: justify; 
    text-justify: inter-word;
    padding: 30px; 
}

.aboutsignup {
  font-size: 40px; 
  font-family: $font; 
  color: $main_yellow; 

  &:hover {
    color: $main_yellow; 
  }

}

.startingfive {
  height: 600px; 
  background-image: url('/background1.jpg');
  background-size: 100%; 
  border-top: 10px solid $main_yellow; 
  margin-top: -15px; 
}

h4 {
  font-family: graduate, cursive; 
  font-size: 30px; 
  color: $main_yellow;
}

.heartleft {
  float: left; 

}

.heartright {
  float: right; 
}

p#selected {
  font-family: $font;
  color: $main_yellow; 
  font-size: 20px; 
}

hr#starting {
  border: 3px solid white; 
}

ul.gridsystem {
  list-style-type: none; 

  li.borderthumb {
    margin-left: 10px; 
    margin-right: 10px; 
   
    div.playersgrid {
      margin-top: 90px; 
      width: 150px;
      height: 400px; 
      background-color: white; 
      border-radius: 10px; 
      border: 5px solid $main_yellow; 

      &:hover {
       -webkit-box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75);
       -moz-box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75);
       box-shadow: -2px 1px 25px -4px rgba(0,0,0,0.75);
      }

      span#player_name {
      
        color: $main_yellow; 
        font-family: $font;  
        text-align: justify; 
        // text-justify: inter-word;
      }

      span#player_position {
        font-size: 15px; 
        color: $main_yellow; 
        font-family: $font; 
      }
    }
  }
}

hr#hrtag {
  border: 3px solid $main_yellow; 
}


footer.attr-footer { 
  height: 50px;
  z-index: 150; 
  font-family: $font2; 
  position: relative; 
  bottom: 0; 


  padding-top: 8px; 
  background-color: green; 
  border-top: 10px solid $main_yellow; 
  box-shadow: 0px 2px 3px 3px rgba(0,0,0,.4);

    div.left-side {
      color: white; 
      font-size: 13px; 
      float: left;
      padding-left: 50px;  

        a {
          display: inline-block;
          padding-left: 1px; 
          padding-right: 1px; 

            img.facebook {
              width: 15px;
            }

            img.linkedin {
              width: 15px; 
            }

            img.github {
              width: 15px; 
            }
        }
    }

    div.right-side {
      color: white;
      font-size: 13px; 
      float: right;
      padding-right: 50px; 
      vertical-align: middle; 

        a {
          display: inline-block; 
          padding-left: 3px; 
          padding-right: 3px; 

            img.sportsdata {
              width: 22px;

            }
        }
    }

}

hr#between {
  border: 3px dashed $main_yellow; 
}

